<html>
<head>
<title>Electronic Toll Collection</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='static/style.css'>
</head>
<style>
.center {
    margin: auto;
    width: 60%;
    border: 0px solid #73AD21;
    padding: 10px;
   }
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
</style>
<body>
<div class="w3-sidebar w3-teal w3-bar-block" style="width:18%">
  <font face="WildWest" size="6">Electronic Toll Collection</font>
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="db" class="w3-bar-item w3-button">Database</a>
  <a href="db_notzero" class="w3-bar-item w3-button">Plates With Due</a>
   <a href="form" class="w3-bar-item w3-button">Pay Due</a>
  <a href="about" class="w3-bar-item w3-button">About</a>
</div>

<div style="margin-left:15%">

<div class="w3-container w3-teal">
</div>
   <center>
<h1>About</h1>
<p>Our project aims at digitzing toll collection and making toll
collection easier. Vehicles need not stop at the toll gate thus
reducing conjestion at the toll gate.</p>
    </center>
 <div style="margin-left:5%">
 <h3>Group Members</h3>
   <p>Allan Jojo<br/>
   Alan Shaji T<br/>
   Alisha Josy<br/>
   Indu Prasad</p>
 </div>
</div>
</body>
</html>
